{% extends "base.html" %}

<!-- content area -->
{% block content %}


<!-- form or creation message -->
{% if request.method == 'GET' %}
    {% if form_action == 'edit_book' %}
    <form method="POST" action="{% url form_action id %}">
    {% else %}
    <form method="POST" action="{% url form_action %}">
    {% endif %}
        <!-- Cross-Site Request Forgery token -->
        {% csrf_token %}
        {% if id %}
            <!-- Edit mode -->
            <input type="hidden" name="id" value="{{ book.id }}" />
        {% endif %}

        <div class="container m-4">
            <div class="mb-3 row">
                <label for="title-field" class="form-label">Title</label>
                <input type="text" value="{{ book.title }}" class="form-control" id="title-field" name="title" required />
            </div>
            <div class="mb-3 row">
                <label for="author-field" class="form-label">Author</label>
                <input
                    type="text"
                    value="{{ book.author }}"
                    class="form-control"
                    id="author-field"
                    name="author"
                    required
                />
            </div>
            <div class="mb-3 row">
                <label for="description-field" class="form-label">Description</label>
                <textarea 
                    class="form-control" 
                    id="description-field" 
                    rows="3" 
                    name="description" 
                    required>{{ book.description }}</textarea>
            </div>
            <div class="mb-3 row">
                <label for="pubdate-field" class="form-label">Date of Publication</label>
                <input type="date" value="{{ book.publish_date|date:'Y-m-d' }}" class="form-control" id="pubdate-field" name="pubdate" required />
            </div>
            <div class="mb-3 row">
                <label for="price-field" class="form-label">Price</label>
                <input type="number" value="{{ book.price }}" min="0" step="0.01" class="form-control" id="price-field" name="price" required />
            </div>
            <div class="mb-3 row">
                <label for="stock-field" class="form-label">Stock</label>
                <input type="number" value="{{ book.stock }}" min="0" step="1" class="form-control" id="stock-field" name="stock" required />
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
{% else %}<!-- POST -->

<p>{{ message }}</p>

{% endif %}
<!---->
{% endblock %}
